@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/*nav bar styles */

.NavBar {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: space-evenly;
  background-color: #242424;
}

ul {
  list-style: none;
}

.NavBar a{
  text-decoration: none;
  display: block;
  padding: 1em;
}

.nav-items {
  display: flex;
  white-space: nowrap;
}

a {
  color: lime;
  font-weight: bold;
}



/* about */
.about {
  display: flex;
  justify-content: center;
  text-align: center;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 35%, rgba(239,255,241,1) 100%);
}

.intro img {
  max-width: 70%;
}

.intro {
  font-family: 'Quicksand', sans-serif;
}

.introText {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 115%;
  height: 0;
  transition: .5s ease;
}

.introText {
  font-size: 1.5em;
  color: #242424;
}

.intro:hover .introText{
  height: 75%;
}

/* web development */

.WebDevelopment {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  text-align: center;
  background: rgb(168,171,168);
  background: linear-gradient(0deg, rgba(168,171,168,1) 0%, rgba(241,241,241,1) 35%, rgba(239,255,241,1) 100%);
}

.WebDevelopment a {
  text-decoration: none;
  padding-bottom: 10%;
}

.WebDevelopment h1 {

  padding-top: 3%;
  padding-left: 20%;
  padding-right: 20%;
}

.WebDevelopment h2 {
  padding-left: 30%;
  padding-right: 30%;
}

.WebDevelopment img {
  display: flex;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.northStage img:hover {
  opacity: 50%;
  transition: .5s ease;
}

.htmlcss {
  margin-left: auto;
  margin-right: auto;
  max-width:10%;
  padding-bottom: 3%;
}


/* contact styles*/